*{
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background: linear-gradient(
    -45deg,
    rgb(232, 231, 236) 0%,
    rgb(223, 223, 226) 100%
  );
}
header{
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  height: 60px;
}
header .top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
header .top .logo{
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  background-color: mediumorchid;
  color: white;
  padding: 8px;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
header .top .logo:hover{
color: orangered;
}
header .top .search{
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
header .top .search input{
  width: 100%;
  outline: none;
  background: transparent;
  border: none;
  height: 100%;
  padding: 5px;
  border-bottom: 1px solid blueviolet;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
  box-sizing: border-box;
}
header .top .search input::placeholder{
  text-transform: capitalize;
  letter-spacing: 1px;
  color: blueviolet;
  font-size: 17px;
}
header .top .search input:valid{
  border-bottom: 3px solid rgb(55, 108, 224);
  font-size: 19px;
  color: white;
  background-color: violet;
}
header .top .search input:focus{
  border-bottom: 3px solid rgb(55, 108, 224);
}
header .top .dropdown-list {
  position: absolute;
  top: 110%;
  width: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: none;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
z-index: 2500;
}
.dropdown-list li {
  padding: 8px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 18px;
  color: rgb(133, 9, 133);
  z-index: 2500;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}
header .top button{
  width: fit-content;
  background: rgb(55, 108, 224);
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 19px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
header .top button:hover{
  background-color: white;
  color: darkorchid;
}
header .top .owner{
  justify-self: flex-end;
  padding: 8px;
  background-color: mediumorchid;
  color: white;
  padding: 8px;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 20px;
}
header .top .owner:hover{
  background-color: red;
  color: white;
}
header .top .owner:hover>span{
  color: white;

}
header .top .owner span{
  font-size: 23px;
  color: #7E1891;
}
header nav{
  width: 100%;
  margin: auto;
}
header nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}
header nav ul li{
  margin:5px 15px;
  padding: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 19px;
  border: 2px solid rgb(55, 108, 224);
  border-radius: 10px 40px;
  -webkit-border-radius: 10px 40px;
  -moz-border-radius: 10px 40px;
  -ms-border-radius: 10px 40px;
  -o-border-radius: 10px 40px;
}
header nav ul li:hover{
  background-color: skyblue;
}
.active{
  background-color: violet;
}
.hide{
  display: none;
}
main .container{
  width: 80%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main .container .card{
  margin: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 10px rgb(55, 108, 224);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; 
  padding: 5px;
  background-color: darkgrey;
  z-index: 2000;
}
main .container .card:hover{
  box-shadow: 0px 0px 10px darkmagenta;
}
main .container .card .imgcontant{
  max-width: 100%;
  max-height: 290px;
}

main .container .card .imgcontant img{
  object-position: center;
  width: 100%;
  height: 290px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  opacity: 0.8;
}
main .container .card .imgcontant img:hover{
    opacity: 1;
}


@media  screen and (max-width: 1080px) {
  main{
    margin-top: 120px;
  }
}
@media screen and (max-width: 810px) {
  header nav ul{
    flex-wrap: wrap;
  }
}
@media  screen and (max-width: 795px) {
  main{
    margin-top: 200px;
  }
}
@media  screen and (max-width: 450px) {
  header nav ul{
    display: none;
  }
  main{
    margin-top: 100px;
  }
}